<div class="padded row" id="mapa">
  <div class="column">
    <h1><i class="ui calendar outline icon"></i><%= t :actual_events %></h1>
    <div id="map" style='min-height: 400px; height: 100%'></div>
  </div>
</div>
<div style='min-height: 40px;'></div>
<div class="padded row" id="mapa">
  <div class="column">
    <h1><i class="ui search icon"></i><%= t :search_and_filtering %></h1>
    <%= render 'map_search' %>
  </div>
</div>
<div class="padded row">
  <div class="column">
    <h3><%= t :list_of_found_events %>
      <span class="ui green circular label" id="map-search-count">0</span>
      <span id='ajax_loader'>
        <i class="large spinner loading icon"></i> Loading
      </span>
    </h3>
    <div id="map-search-table"></div>
  </div>
</div>