<div class="ui container">
  <div class="ui fluid segment">
    <h1 class="ui header">
      <i class="write icon"></i>
      <div class="content">
        Upraviť článok
        <div class="sub header">
          Formulár slúži na úpravu článku. Môžeš pridať rovno odkaz, kam sa
          článok presmeruje (v tom prípade sa obsah bude ignorovať).
          Ak chceš upraviť obsah vizuálne, prejdi najprv na detail článku.
        </div>
      </div>
    </h1>

    <%= render 'form' %>
  </div>
</div>