<div class="ui container">
  <h1 class="ui header">
    <i class="add circle icon"></i>
    <div class="content">
      Nový článok v menu
      <div class="sub header">
        Formulár slúži na pridanie článku. Môžeš zadať odkaz, v tom prípade sa
        po kliknutí nezobrazí obsah článku, ale priamo tento odkaz.
      </div>
    </div>
  </h1>

  <%= render 'form' %>
</div>