<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Ahoj, <%= @user.nickname_or_name %></h1>
<p>
  Na našej stránke bolo práve požiadané o zmenu tvojho hesla. Tvoje nové heslo je:
  <%= @password %>. Na prihlásenie môžeš využiť nasledujúci link: <%= link_to "prihlásenie", @url %>.
</p>
<p>Ak si o zmenu hesla nepožiadal ty, kontaktuj nás.</p>
<p>Tvoj INEX tím</p>
</body>
</html>