<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>Toto je otázka odoslaná zo stránky inex.sk</h3>
<p>
  <b>Text:</b> <%= @text %>
</p>
<p>Tvoj INEX tím</p>
</body>
</html>

