<h2 class="ui header">
  <i class="edit icon"></i>
  <div class="content">
    <%= t :edit_task %>
    <div class="sub header"><%= t :edit_task_description %></div>
  </div>
</h2>

<%= render 'panel' %>
<%= render 'form' %>