<h2 class="ui header">
  <i class="add circle icon"></i>
  <div class="content">
    <%= t :new_task %>
    <div class="sub header"><%= t :new_task_description %></div>
  </div>
</h2>

<%= render 'panel' %>
<%= render 'form' %>