<div class="active content">
  <% if knowledges.any? %>
      <div class="ui segments">
        <% knowledges.each do |knowledge| %>
            <% if knowledge.employees.blank? || knowledge.employees.include?(@current_user.employee) %>
                <div class="ui segment">
                  <i class="right arrow icon"></i>
                  <%= link_to knowledge.title, knowledge %>
                  <span style="float: right">
                    <%= link_to 'Upraviť text', '/editor' + knowledge_path(knowledge), class: 'ui yellow label',
                                id: 'edit_link', data: { save_url: mercury_update_knowledge_path(knowledge) } %>
                    <%= link_to 'Kategórie a viditeľnosť', edit_knowledge_path(knowledge), class: 'ui yellow label' %>
                    <%= link_to 'Vymazať', knowledge, method: :delete, data: { confirm: 'Naozaj chceš vymazať túto znalosť?' }, class: 'ui red label' %>
                  </span>
                </div>
            <% end %>
        <% end %>
      </div>
  <% else %>
      <p>Nebolo pridané žiadne know-how.</p>
  <% end %>
</div>