<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Tvoja taška eventov bola registrovaná</h1>
<p>
  <b>Link:</b> <%= link_to "detail", @event_list_url %>
</p>
<p>
  Stav riešenia tašky môžeš vidieť vo svojom profile (Moje prihlášky).<br>
</p>
<p>
  TEXT PLATBA?<br>
</p>
<p>Ďakujeme, že si sa pridal k našim dobrovoľníkom!</p>
<p>Tvoj INEX tím</p>
</body>
</html>