<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Detail registrácie</h1>
<p>
  <b>Link:</b> <%= link_to "detail", @event_list_url %><br>
  <b>PDF na stiahnutie:</b> <%= link_to "PDF", @pdf_url %>
</p>
<p>Tvoj INEX systém</p>
</body>
</html>