<h1 class="ui header">
  <i class="signup icon"></i>
  <div class="content">
    <%= t :registration %>
    <div class="sub header">
      <%= t :registration_header %>
    </div>
  </div>
</h1>

<%= render 'form' %>