<h1 class="ui header">
  <i class="edit icon"></i>
  <div class="content">
    <%= t :edit_event %> <%= @event.translated_title %>
    <div class="sub header">
      <%= t :add_event_header %>
    </div>
  </div>
</h1>