<% if event_ary.size > 0 %>
    <div class="ui container" style="overflow-x: scroll;">
      <table class="ui green celled table datatable">
        <thead>
        <tr>
          <% @header.each do |header| %>
              <th><%= header %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% event_ary.each do |row| %>
            <tr>
              <% @header.each do |header| %>
                  <% if row[:changes] && row[:changes].keys.include?(header) == true %>
                      <td style="background-color: #f0c0c0;"><%= row[:event][header] %></td>
                  <% else %>
                      <td><%= row[:event][header] %></td>
                  <% end %>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% else %>
    <div class="ui icon message">
      <i class="remove icon"></i>
      <div class="content">
        <div class="header">
          Neboli identifikované žiadne takéto eventy.
        </div>
      </div>
    </div>
<% end %>