<h2 class="ui header">
  <i class="browser icon"></i>
  <div class="content">
    <%= t :new_table %>
    <div class="sub header">
      <%= t :new_table_description %>
    </div>
  </div>
</h2>

<%= render 'form' %>
