<h1 class="ui header">
  <i class="add circle icon"></i>
  <div class="content">
    <%= t :add %> <%= t(:event_type).downcase %>
    <div class="sub header">
      <%= t :add_event_type_header %>
    </div>
  </div>
</h1>

<%= render 'form' %>
