<div class="ui header" data-mercury="simple" id="title">
  <%= @knowledge.title %>
</div>

<div class="ui labels">
  <%= link_to 'Upraviť stránku', '/editor' + request.path, class: 'ui yellow label',
              id: 'edit_link', data: { save_url: mercury_update_knowledge_path(@knowledge) } %>
</div>

<div data-mercury="full" id="text">
  <%= @knowledge.text.html_safe %>
</div>

<h3>Kľúčové slová (oddeľuj ich čiarkou)</h3>
<div data-mercury="markdown" id="keywords">
  <%= @knowledge.keywords %>
</div>