<h2 class="ui header">
  <i class="edit icon"></i>
  <div class="content">
    <%= t :edit_organization %>
    <div class="sub header"><%= t :edit_organization_header %></div>
  </div>
</h2>

<%= render 'organizations/panel' %>
<%= render 'form' %>