<h2 class="ui header">
  <i class="child icon"></i>
  <div class="content">
    <%= t :all_organizations %>
    <div class="sub header">
      <%= t :all_organizations_header %>
    </div>
  </div>
</h2>

<%= render 'organizations/panel' %>
<%= render 'partner_networks/organizations_list', organizations: @organizations %>