<h2 class="ui header">
  <i class="add circle icon"></i>
  <div class="content">
    <%= t :add_organization %>
    <div class="sub header"><%= t :add_organization_header %></div>
  </div>
</h2>

<%= render 'organizations/panel' %>
<%= render 'form' %>