<h1 class="ui header">
  <i class="warning icon"></i>
  <div class="content">
    Upraviť problém
    <div class="sub header">
      Tu môžeš upraviť problém so stránkou.
    </div>
  </div>
</h1>

<%= render 'form' %>