<h1 class="ui header">
  <i class="bug icon"></i>
  <div class="content">
    Zadať problém
    <div class="sub header">
      Tu môžeš zadať problém so stránkou.
    </div>
  </div>
</h1>

<div class="ui yellow icon message">
  <i class="info icon"></i>
  <div class="content">
    <div class="header">
      Problém bude zadaný pod tvojím menom a odoslaný tiež emailom Filipovi. Popis priority:
    </div>
    <div class="ui bulleted list">
      <div class="item">Vysoká: Daný problém spôsobuje, že svoju prácu nemôžem dokončiť vôbec.</div>
      <div class="item">Stredná: Daný problém výrazne znepríjemňuje dokončenie práce, ale napriek tomu som schopný ju dokončiť.</div>
      <div class="item">Nízka: Nič, čo by spôsobovalo vážny problém pri práci (nesprávne farby, skloňovanie a pod.).</div>
    </div>
  </div>
</div>

<%= render 'form' %>